<header class="header">

  <div class="header-deco">
    <span class="star star-1">✦</span>
    <span class="star star-2">★</span>
    <span class="star star-3">✦</span>
    <span class="star star-4">✧</span>
    <span class="star star-5">★</span>
  </div>

  <div class="header-inner">
    <a routerLink="/" class="logo">
      <div class="logo-badge">🌸</div>
      <div routerLink="/" class="logo-text">
        <span class="logo-name">AnimeWiki</span>
        <span class="logo-tagline">tu catálogo anime ✨</span>
      </div>
    </a>


    <nav class="nav">
      <a routerLink="/create" class="nav-link nav-link--add"> <span class="nav-emoji">✨</span> Añadir anime</a>

      @if(!currentUser){
      <a routerLink="/loginForm" class="nav-link"><span class="nav-emoji"></span> Iniciar sesión</a>
      <a routerLink="/registerForm" class="nav-link"><span class="nav-emoji"></span> Registrarse</a>
      } @else {
      <a routerLink="/" class="nav-link nav-link--add"> <span class="nav-emoji">🧛‍♀️</span>{{currentUser.nickname}}</a>
      }
     
    </nav>
      </div>

  
</header>