<div class="anime-grid">

    <div class="anime-card">
      <img src="{{anime.imageUrl}}" alt="{{anime.title}}" class="anime-img"/>
      
      <div class="anime-info">
        <h2>{{ anime.title }}</h2>
        <p class="synopsis">{{ anime.synopsis }}</p>

        <div class="anime-details">
          <span>🎭 {{ anime.genre }}</span>
          <span>📅 {{ anime.year }}</span>
          <span>🎬 {{ anime.episodes }} eps</span>
          <span>⭐ {{ anime.score }}</span>
          <span class="status {{ anime.status }}">{{ anime.status }}</span>
        </div>

        <div class="anime-actions">
          <button routerLink="/detailsAnime" class="btn-edit">Editar</button>
          <button routerLink="/detailsAnime" class="btn-delete">Eliminar</button>
      
        </div>
      </div>
    </div>

   
</div>